@charset "UTF-8";


.description1{
	
	height:100%px;
	width:100%px;
	padding:1%;
	margin-bottom:2%;
	margin-right:5px;
	display:flex;
	flex-direction: column;
	background-color:	#DAE7FD;
}
.description1 p{
	font-family: Biotif,"Noto Sans","Noto Sans JP","Noto Sans KR",Helvetica;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #1a1a1a;
    text-transform: none;
    letter-spacing: .2px;
}


.descriptionTitle h2{
    font-family: Biotif,"Noto Sans","Noto Sans JP","Noto Sans KR",Helvetica;
    font-weight: 700;
    font-size: 1.27rem;
    line-height: 1.75rem;
    color: #1a1a1a;
    text-transform: none;
    text-align: center;
    margin-top: 16px;
    display: inline-block;
    box-sizing: border-box;
  
}

.titlePage{
	justify-content: center;
	height:50px;
	width:150px;
	padding:1%;
	margin-bottom:1%;
	margin-right:3px;
	display:flex;
	flex-direction: column;
	
}

.teamTitle{
	
	text-align: center;
}

  img {
    width:170px;
	height:300px;
	
  }
  
 .name1{
 
 	display: flex;
  	justify-content: center;
  	align-items: center;
 }

.image1{
	
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.description-team-member1{
	
	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-family: Biotif,"Noto Sans","Noto Sans JP","Noto Sans KR",Helvetica;
}

.name2{
 
 	display: flex;
  	justify-content: center;
  	align-items: center;
 }

.image2{
	
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.description-team-member2{
	
	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-family: Biotif,"Noto Sans","Noto Sans JP","Noto Sans KR",Helvetica;
}

.name3{
 
 	display: flex;
  	justify-content: center;
  	align-items: center;
 }

.image3{
	
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.description-team-member3{
	
	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-family: Biotif,"Noto Sans","Noto Sans JP","Noto Sans KR",Helvetica;
}