@charset "ISO-8859-1";

#cliente {
	display: none;
}

#data {
	display: none;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 20px;
}

table {
	border-collapse: collapse;
	position: absolute;
}

th, td {
	border: 1px solid black;
	padding: 8px;
}
td img{
	width:64px;
	height:64px;
}
