/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/


 
 /*--------------------------------------------------------------------- Parte Logo ---------------------------------------------------------------------*/
  
  * {
  padding:0;
  margin:0;
  
  }
  .row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

.logo {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.right-side{
	position:absolute;
	right: 0;
	margin-right:3%;
	height: 60px;
	width:10%;
	display:flex;
	
}
.icon{
	padding:10%;
	text-align:center;
}
.icon img{
	height:100%;
	width:auto;
}


/*--------------------------------------------------------------------- Fine Parte Logo ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- Header ---------------------------------------------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
}
.navbar {
  background-color: 	#1a2653;
  overflow: hidden;
  
  display:flex;
  align-items:center;
  
  justify-content: space-between;
  
 
  
}



.prov{
	 
  
  display:flex;
  align-items:inherit;
  width:100%;
  

}
.provAdm{
	 
  
  display:flex;
  
  width:100%;
      justify-content: center;
  
  align-items: center;

}
.navbar a {
	
 
  color: white;
  text-align: center;
  padding:2%;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.5s;
 
  
}


.navbar .row>a:hover {
  background-color: 	#006bce;
  
  
}
.navbar  a:hover {
  background-color: 	#006bce;
  
  
}

.search-box {
	
  display:flex;
  margin-right: 20px;
  height:100%
}
.navbar .Logout {
  
  padding:2%;
  text-decoration: none;
  transition: background-color 0.5s;
  font-size: 17px;
  
}
.navbar .Logout:hover {
  background-color: 	red;
  
  
}
.Logout a:hover{
	background-color:none;
	
}
.search-box input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 20px;
  width: 300px; /* Increase the width as per your preference */
}


/*--------------------------------------------------------------------- Fine Header ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- Prodotti più venduti ---------------------------------------------------------------------*/
.boxes{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	margin: 0% 5%;
	margin-top:5%;
}


.box{
	height:300px;
	width:280px;
	padding:1%;
	border-color:black;
	border:solid;
	margin-bottom:5%;
	margin-right:5px;
	display:flex;
	flex-direction: column;
}

.box-image {
	display:flex;
	width:100%;
	height:70%;
	margin-bottom: 10%;
	justify-content: center;
	
}
.box-image img{
	max-width:100%;
	max-height:100%;
}
.box-text{
	display:block;
	
}
.STitle{
	display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    font-size: 300%;
    margin-top: 5%;
}


/*--------------------------------------------------------------------- Fine Prodotti più venduti ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- Prodotti general ---------------------------------------------------------------------*/

.boxes-3{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-evenly;
	margin: 0% 2%;
	width:70%;
	margin-top:5%;
	
	
}
.filtri{
	
	border:solid;
	border-color:black;
	width:22%;
	
	margin: 0% 2%;
	margin-top:5%;
	
	
	
}
.container-products{
	display:flex;
}


.price-range{
	margin-top:20%;
	display:flex;
	justify-content: space-between;
	
}

#price-range-slider {
      width: 200px;
      margin-bottom: 20px;
      margin-top:5px;
      
    }
      /* Custom color for the slider strip */
      #price-range-slider .noUi-connect {
      background-color: #1a2653;
    }
    /* Custom color for the slider buttons */
    #price-range-slider .noUi-handle {
      background-color: #b4cffa;
    }






.categories-filter{
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  max-width:100%;
  padding: 20px;
}

.categories-filter ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul li{
  color: #1a2653;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #333;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color:#006bce;
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid 	#b4cffa;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid #006bce;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #006bce;
}

input[type=radio]:checked ~ .check::before{
  background: #006bce;
}

input[type=radio]:checked ~ label{
  color: #006bce;
}

